body {
    font-family: "Protest Strike", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: #212121;
  }

  button {
    font-size: 16px;
    cursor: pointer;
    margin: 10% 0%; 
  }

  p {
    font-size: 4vw; 
    margin: 10px 20px;
    color: white;
  }

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.label {
    color: white;
    text-decoration: none;
    border: none;
    background: none;
    font-family: "Protest Strike", serif;
    font-weight: 400;
    font-style:normal;
    font-size: 10vw;
    text-shadow: #000;
  }
  
  .label::before {
    margin-left: auto;
  }
  
  .label::after, .label::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
  }
  
  .label:hover::after, .label:hover::before {
    width: 100%;
  }

.button-click {
    color: #fff;
    padding: 0.7em 1.7em;
    font-size: 5vw;
    border-radius: 0.5em;
    background: #212121;
    cursor: pointer;
    border: 1px solid #212121;
    transition: all 0.3s;
    box-shadow:
      6px 6px 12px #0a0a0a,
      -6px -6px 12px #2f2f2f;
  }
  
  .button-click:active {
    color: #666;
    box-shadow:
      0px 0px 0px #000,
      0px 0px 0px #2f2f2f,
      inset 4px 4px 12px #1a1a1a,
      inset -4px -4px 12px #1f1f1f;
  }

  .button-click:disabled{
    color: #212121;
    padding: 0.7em 1.7em;
    font-size: 5vw;
    border-radius: 0.5em;
    background: #494949;
    cursor: pointer;
    border: 1px solid #212121;
    transition: all 0.3s;
    box-shadow:
      6px 6px 12px #0a0a0a,
      -6px -6px 12px #2f2f2f;
  }
  